.container{
    border-radius: 7px;
    padding: 0px;
    width: 80%;
    height: 10%;
    border: 1px solid black;
    box-shadow: 5px 8px #afacac;
    
}
.checkOut{
    padding: 5px;
    display: flex;
    justify-content: space-between;
    
}
.checkOut-text{
    margin-right: 180px;
    display: flex;

}
.checkOut-text>p{
  padding-right: 10px;
} 
.exit-btn{
    padding: 0.5rem 1rem 0rem 1rem;
    font-size: 20px;
}
.exit-icon{
    width: 23px;
    height: 18px;
    font-size: 14px;
    background-color: rgb(72, 67, 67);
    color: white;
    padding-top: 4px;
}
.payment{
    height: 42px;
    display: flex;
    justify-content: space-between;
}
.payment>p{
    margin-left: 10px;
    margin-top: auto; 
}
.card-block{
    background-color: rgba(201, 193, 193, 0.351);
    margin-top: -9px;
    margin-right: -1px;
    border: 1px solid black;
    width: 40%;
    height: 50px;
    display: flex;
    justify-content: space-between;
}
.card-block>p{
    margin-left: 10px;
    padding: auto;  
}
